html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
}

body {
    background-color: #053B50;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2px 0px;
}

a {
    color: #176B87;
    text-decoration: none;
    transition: filter 0.2s;
}

a:hover {
    filter: brightness(150%);
}

#calculator {
    background-color: #176B87;
    width: 360px;
    height: auto;
    padding: 28px;
    margin: 20px 0px;
    border-radius: 10px;
    filter:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

#display-container {
    background-color: #EEEEEE;
    padding: 8px;
    border-radius: 5px;
    text-align: right;
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#expression {
    inline-size: auto;
    overflow-wrap: break-word;
}

#display {
    font-size: 40px;
    inline-size: auto;
    overflow-wrap: break-word;
}

#btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

button {
    height: 55px;
    width: 64px;
    border: none;
    border-radius: 4px;
    color:#EEEEEE;
    font-size: 25px;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

#point-btn,
.number-btn {
    background-color: #B4B4B3;
    color: #000000;
}

.operator-btn {
    background-color: #64CCC5;
}


#del-btn,
#clear-btn {
    background-color: #0E21A0;
    width: 144px;
}

#equal-btn {
    background-color: #E25E3E;
}